<!-- display all transcations 
 content: table format: date,category,amount,type(income/expense), description
 filters: date, category or amount range -->
 <!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Transcations</h1>

    <!-- Transcation form -->
     <form action="/transactions/add" method="POST">
        <h2>Add Transaction</h2>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
     
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>

        <label for="type">Type:</label>
        <select id="type" name="type" required>
          <option value="income">Income</option>
          <option value="expense">Expense</option>
        </select>

        <button type="submit">Add Transaction</button>
      </form>
    
    <h2>Your Transactions</h2>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>
        <tr>
          <td><%= transaction.description %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.type %></td>
          <td><%= transaction.created_at %></td>
        <td>
          <a href="/transactions/edit/<%= transaction.transaction_id %>">Edit</a>
          <form action="/transaction/delete/<%= transaction.transaction_id %>" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
          </form>
          <!-- <button onclick="openEditForm(<%= transcation.transaction_id %>)">Edit</button> -->
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  
  </body>
</html>